body {
    font-family: 'Droid Sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

pre {
    background: #eee;
    overflow-x: auto;
    padding: .5em;
}